@{
    ViewData["Title"] = "Home Page";
}
@using M6_EAI_Scrapping_Output.Class;
@model ListBuku

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Scrapping Tokopedia</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="modal fade" id="modal-input">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Book Description</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="forminsert" style="display:block">
                            <div class="form-group">
                                <label id="title"></label>
                                <textarea id="description" readonly style="width: 750px; height: 1000px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancelinsert" class="btn btn-default fa-pull-left" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-light">
                <h3 class="card-title">List Buku Pemrograman</h3>
            </div>
            <div class="card-body" style="overflow-x: auto;">
                @*<div class="row">
                        <div class="col-12" style="padding-bottom:20px;">
                            <a data-tipe="I" class="btn openmodal btn-primary" style="color:white; cursor:pointer;" title="Insert">Tambah Mahasiswa</a>
                        </div>
                    </div>*@
                <table id="tabledata" class="nowrap table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Sold</th>
                            <th>Condition</th>
                            <th>Assurance</th>
                            <th>Weight</th>
                            <th>Seller</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bk in Model.buku)
                        {
                        <tr>
                            <td>@bk.id</td>
                            <td>@bk.title</td>
                            <td>@bk.price</td>
                            <td>@bk.sold</td>
                            <td>@bk.condition</td>
                            <td>@bk.assurance</td>
                            <td>@bk.weight</td>
                            <td>@bk.seller</td>
                            <td style="text-align:center">
                                <div class="btn-group">
                                    <a id="edit" data-user="@bk.description" data-title="@bk.title" class="btn btn-success openmodal" style="color:white; cursor:pointer;" title="Edit"><i class="far fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('#tabledata').DataTable({
            "responsive": true,
            "ordering": true
        });
    });

   function clearform() {
       document.getElementById("description").value = "";
   }

    $(document).on("click", ".openmodal", function () {
        clearform();
        var title = $(this).data('title');
        var desc = $(this).data('user');
        document.getElementById("description").value = desc;
        document.getElementById("title").innerHTML = title;
        $("#modal-input").modal({ backdrop: "static" });
    });

    @*$(document).on("click", ".openedit", function () {
        clearform();
        document.getElementById("insertbannerbtn").disabled = true;
        document.getElementById("progbarinsert").style.display = "block";
        document.getElementById("forminsert").style.display = "none";
        var tipe = $(this).data('tipe');
        var nim = $(this).data('user');
        document.getElementById("txttipemodal").value = tipe;
        var str = "nim=" + nim;

        $.ajax({
            type: "POST",
            url: "GetDetailMahasiswa?" + str,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                var d = response;
                console.log(d);
                document.getElementById("inputtxtnim").readOnly = true;
                document.getElementById("inputtxtnim").value = d["nim"];
                document.getElementById("inputtxtnama").value = d["nama"];
                document.getElementById("inputtxtasal").value = d["asal"];
                var tgl = moment(d["datebirth"], 'DD/MM/YY').format('YYYY-MM-DD');
                console.log(tgl);
                document.getElementById("inputtxttgl").value = tgl;

                document.getElementById("insertbannerbtn").disabled = false;
                document.getElementById("progbarinsert").style.display = "none";
                document.getElementById("forminsert").style.display = "block";
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        $("#modal-input").modal({ backdrop: "static" });
    });

    $(document).on("click", ".DeletePromo", function () {
        var myID = $(this).data('id');
        var title = $(this).data('title');
        if (confirm("Apakah anda yakin ingin menghapus " + title + "?")) {
            var str = "nim=" + myID;
            $.ajax({
                type: "POST",
                url: "DeleteMahasiswa?" + str,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var d = response;
                    if (d.split("~")[0] == "1") {
                        alert(d.split("~")[1]);
                    } else if (d.split("~")[0] == "0") {
                        alert(d.split("~")[1]);
                        location.reload();
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    });

    function InsertData() {
        document.getElementById("insertbannerbtn").disabled = true;
        document.getElementById("progbarinsert").style.display = "block";
        document.getElementById("forminsert").style.display = "none";
        document.getElementById("cancelinsert").style.display = "none";

        var nim = document.getElementById("inputtxtnim").value;
        var nama = document.getElementById("inputtxtnama").value;
        var asal = document.getElementById("inputtxtasal").value;
        var tanggal = document.getElementById("inputtxttgl").value;
        tgl = moment(tanggal, 'YYYY-MM-DD').format('MM/DD/YY').toString();

        var param = {};
        param.nama = nama;
        param.nim = nim;
        param.asal = asal;
        param.datebirth = tgl;

        var t = document.getElementById("txttipemodal").value;
        var url = "";
        if (t == "I") {
            url = "InsertMahasiswa";
        }
        else if (t == "E") {
            url = "EditMahasiswa";
        }
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                var d = response;
                if (d.split("~")[0] == "1") {
                    alert(d.split("~")[1]);
                    document.getElementById("insertbannerbtn").disabled = false;
                    document.getElementById("progbarinsert").style.display = "none";
                    document.getElementById("forminsert").style.display = "block";
                    document.getElementById("cancelinsert").style.display = "block";
                } else if (d.split("~")[0] == "0") {
                    console.log(response);
                    alert(d.split("~")[1]);
                    location.reload();
                } else if (d.split("~")[0] == "2") {
                    $("#modal-edit").modal("hide");
                }
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }*@
</script>